apiVersion: apps/v1
kind: Deployment
metadata:
    name: imgproc-client
spec:
    replicas: 1
    selector:
        matchLabels:
            app: imageProcessing
            tier: client
    template:
        metadata:
            labels:
                app: imageProcessing
                tier: client
        spec:          
            containers:
            - name: imgproc-client
              image: wangso/imgproc-client:V1
              imagePullPolicy: Always
              env:
                - name: server
                  value: "a6b9ccf076ab84a8681c3b48157913c6-1312994032.us-west-2.elb.amazonaws.com:5000"	
            #   volumeMounts:
            #   - mountPath: /ImageProcessingWebServices/output/client
            #     name: myvolume
            # volumes:
            # - name: myvolume
            #   persistentVolumeClaim:
            #     claimName: my-volume-claim  
            restartPolicy: Always

      
